<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <appSettings configSource="hdsettings.config"></appSettings>
  <!--
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="GraphApiVersion" value="v1.0" />
    <add key="ida:AadInstanceMulti" value="https://login.microsoftonline.com/common" />
    <add key="ida:AADInstanceLocal" value="https://login.microsoftonline.com/{0}" />
    <add key="MailTemplateName" value="Base/MailTemplate.htm" />
    <add key="MailLogoPath" value="[relative path to email image, leave blank to use image from Azure AD tenant branding]" />
    <add key="DefaultBodyTemplateName" value="BodyTemplate-Basic.htm" />
    <add key="DefaultSubjectTemplateName" value="SubjectTemplate-Basic.txt"/>
    <add key="InviterRoleNames" value="Guest Inviter,Global Administrator,User Administrator,Company Administrator,Helpdesk Administrator" />
    <add key="AssignedInviterRole" value="Guest Inviter" />
    
    <add key="DocDBUri" value="[DocDB URI]" />
    <add key="DocDBAuthKey" value="[DocDB Auth Key]" />
    <add key="DocDBName" value="B2BRequests" />
    <add key="DocDBCollection" value="GuestRequests" />
    
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="QueueName" value="invitations" />
    
    <add key="ida:Tenant" value="[AAD Tenant, like contoso.onmicrosoft.com or contoso.com]" />
    <add key="ida:TenantId" value="[AAD TenantID for above tenant]" />
    <add key="ida:ClientId_Admin" value="[AAD App ID for admin auth app]" />
    <add key="ida:ClientSecret_Admin" value="[Admin auth app secret]" />
    <add key="ida:ClientId_PreAuth" value="[AAD App ID for preauth app (multi-tenant)]" />
    
    <add key="SMTPLogin" value="" />
    <add key="SMTPPassword" value="" />
    <add key="MailServer" value="" />
    <add key="SMTPPort" value="587" />
    <add key="MailEnabled" value="1" />
  </appSettings>
-->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>    
  </runtime>
</configuration>
