<div class="hidden" id="HelpContent">
    Bulk invitations can be configured from this form:
    <ul>
        <li>
            If you are a guest in this organization, AND you have been granted "Guest Inviter" privileges,
            AND you are inviting others from your home organization, then users you invite from this page will
            be granted access immediately to this organization as validated guests. They will not receive an
            invitation and will not have to go through an invitation redemption process.
        </li>
        <li>
            Any existing pre-approved domains will be ignored by invitations issues through this utility. For example,
            if you have a pre-approval profile for "contoso.com", and you invite users from "@@contoso.com" via this utility,
            any rules around redirection or group membership will not be applied to those users.
        </li>
    </ul>
</div>

