<div class="hidden" id="HelpContent">
    Batch invitations can be configured from this form.
    <ul>
        <li>
            If you:
            <ul>
                <li>are a guest in this organization</li>
                <li>have been granted "Guest Inviter" privileges</li>
                <li>are inviting others from your home organization</li>
            </ul>
            ...then users you invite from this page will be granted access immediately 
            to this organization as pre-approved guests. They will not receive an invitation 
            and will not have to go through an invitation redemption process.
        </li>
        <li>
            NOTE: If you or an admin have created any "pre-approved domains" for the self-service portion of this tool, any
            settings created there will be ignored by invitations issued through the batch invitation process, even if the domain
            is the same. For example, if you have a pre-approval profile for "contoso.com", and you invite users from 
            "@@contoso.com" via this the batch process, any rules around redirection or group membership will not be applied 
            to those users.
        </li>
    </ul>
</div>

