<div class="hidden" id="HelpContent">
    Manage and view batch processing status:
    <ul>
        <li>
            Batch invitations are queued and processed asynchronously. Click the batch in the list on the left to view the processing
            status. It may take up to 5 minutes before a batch begins processing. You can click the batch item in the list again to get the latest status.
        </li>
        <li>
            The History button will show how many times a batch has been submitted (or re-submitted), along with any errors that occured during the processing attempt.
        </li>
        <li>
            After processing is complete, click a user to view the submitted request along with the resulting invitation from the Azure B2B invitation API. This 
            includes the invitation link if you need to re-send it manually.
        </li>
        <li>
            If you just submitted a batch, this page loads and presents the details of your queued batch.
        </li>
        <li>
            Use the filter tools at the top to locate a specific batch.
        </li>
    </ul>
</div>


