<div style="text-align:center;">
	<p>
        You've been approved for access to applications in the {{InvitingOrgName}} organization
	</p>
    <p>
        Your invitation status: {{InvitationStatus}}
    </p>
	<p>
        <a href='{{InvitationLink}}'>Get Started</a>
	</p>
    <p>
        Return to the above link at any time for access.
	</p>
    <p>
        {{CustomMessage}}
    </p>
	<hr>
	<p>
        Questions? Contact {{InvitingOrgName}} at <a href='mailto:{{OrgContactEmail}}'>{1}</a>
	</p>
</div>
