@{
    ViewBag.Title = "Approve Requests";
}
<h2>@ViewBag.Title.</h2>

<table>
    <tr><th>Timestamp</th><th>DisplayName</th><th>Email Address</th><th>Department</th><th>Status</th></tr>
    <tr><td>3/14/2017 8:00</td><td>John Smith</td><td>jsmith@contoso.com</td><td>Finance</td><td>Pending</td></tr>
    <tr><td>3/14/2017 8:15</td><td>Jane Doe</td><td>jdoe@fabrikam.com</td><td>Sales</td><td>Pending</td></tr>
    <tr><td>3/14/2017 8:30</td><td>David Jones</td><td>djones@tailwind.com</td><td>Marketing</td><td>Pending</td></tr>
    <tr><td>3/14/2017 8:45</td><td>Mary Jane</td><td>mjane@woodgrove.com</td><td>Engineering</td><td>Pending</td></tr>
</table>