@{ 
    ViewBag.Title = "About This Site";
    ViewBag.Message = "Self-Service B2B Collaboration";
}
<h2>@ViewBag.Message</h2>

<p>
    This is a demonstration self-service enrollment portal for Azure Active Directory B2C
    collaboration. The intent is to provide a basic implementation, using Microsoft Graph APIs
    and other Azure tools, of bulk business partner self-enrollment for SaaS application collaboration.
</p>
<p>
    The following links provide additional information on the implementation:
    <ul>
        <li>
            This open-source application on GitHub:<br />
            https://github.com/Azure/active-directory-dotnet-graphapi-b2bportal-web
        </li>
        <li>
            Azure Active Directory B2B Collaboration:<br />
            https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-what-is-azure-ad-b2b
        </li>
        <li>
            Microsoft Graph - B2B Inviations:<br />
            https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/invitation_post
        </li>
        <li>
            Azure Active Directory line-of-business application development:<br />
            https://docs.microsoft.com/en-us/azure/active-directory/active-directory-applications-guiding-developers-for-lob-applications
        </li>
        <li>
            Azure App Services:<br />
            https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-overview
        </li>
        <li>
            Azure DocumentDB:<br />
            https://docs.microsoft.com/en-us/azure/documentdb/
        </li>
        <li>
            Azure Resource Manager:<br />
            https://docs.microsoft.com/en-us/azure/Azure-Resource-Manager/resource-group-overview
        </li>
    </ul>
</p>
