@{
    ViewBag.Title = "Awaiting Configuration";
}

<h2>Awaiting Configuration</h2>

Thanks for visiting - this is a brand new site and an administrator needs to log in and complete the site configuration. Check back soon!

<p style="margin:10px;">
    (Administrators, please @Html.ActionLink("sign in", "SignIn","Account", new { area = "" }, new { }) to setup your new site.)
</p>