<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ida:ClientId" value="1b1b272c-8760-4cd1-9809-f9a7a24836ae" />
  <add key="ida:ClientSecret" value="nWGESPF6OfJPJDo4vZy7TOaCOprWX/B88d67uC5tXSo=" />
  <add key="ida:InviterUPN" value="admin@msonlinesetup.onmicrosoft.com" />
  <add key="ida:Tenant" value="msonlinesetup.onmicrosoft.com" />
  <add key="ida:TenantId" value="0a2bc833-410b-4199-80f4-8b588da0e2b8" />
  <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  <add key="ida:PostLogoutRedirectUri" value="http://localhost:23002/" />
  <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
  <add key="InviteRedirectUrl" value="http://www.microsoft.com"/>
  <add key="InvitationEmailSubject" value="Invitation Email"/>
  <add key="SMTPLogin" value="azure_fb703c883e540adfa21f5b998cf2ac19@azure.com"/>
  <add key="SMTPPassword" value="RETfdisle98$9442!"/>
  <add key="MailServer" value="smtp.sendgrid.net"/>
  <add key="SMTPPort" value="587"/>
  <add key="MailEnabled" value="1"/>
  <add key="MailLogoPath" value="/content/images/AADB2B.png"/>
  <add key="MailTemplateName" value="MailTemplatePlain.htm"/>
  <add key="InvitingOrganization" value="Arvind's Test Tenant"/>

</appSettings>