<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="GraphApiVersion" value="beta" />
  <add key="ida:AadInstanceMulti" value="https://login.microsoftonline.com/common" />
  <add key="ida:AADInstanceLocal" value="https://login.microsoftonline.com/{0}" />
  <add key="InvitationEmailSubject" value="You're invited to the {{orgname}} organization"/>
  <add key="MailTemplateName" value="Base/MailTemplate.htm"/>
  <add key="MailLogoPath" value="/content/images/AADB2B.png"/>
  <add key="DefaultBodyTemplateName" value="BodyTemplate-Basic.htm"/>
  <add key="InviterRoleNames" value="Guest Inviter,Global Administrator,User Administrator,Company Administrator,Helpdesk Administrator"/>
  <add key="AssignedInviterRole" value="Guest Inviter"/>

  <add key="DocDBUri" value="https://b2binviter.documents.azure.com:443/"/>
  <add key="DocDBAuthKey" value="qLowtKbz4QlWlm2yO7pgIPeoCBgYUViwMpZ1bElzjnvfu6YHJFbYYofDp85xb7TkVVWIxqAZe4gqsNmPFo2Kmg=="/>
  <add key="DocDBName" value="B2BRequests"/>
  <add key="DocDBCollection" value="GuestRequests"/>

  <add key="ida:Tenant" value="hackerdemo.com" />
  <add key="ida:TenantId" value="a70fadca-e867-489c-b119-72dc9f00c26b" />
  <add key="ida:ClientId_Admin" value="3e088238-2b24-40e6-8ba2-d331e20566cb" />
  <add key="ida:ClientSecret_Admin" value="UnPdMSmvq6GoGOKa2Wivym4Zc9e4QAUx4XizUTPD0t0=" />
  <add key="ida:ClientId_PreAuth" value="652d8cc4-30af-413b-bdee-72396f488047" />
  
  <add key="InviteRedirectUrl" value="http://www.microsoft.com"/>

  <add key="SMTPLogin" value="azure_fb703c883e540adfa21f5b998cf2ac19@azure.com"/>
  <add key="SMTPPassword" value="RETfdisle98$9442!"/>
  <!--add key="MailServer" value="smtp.sendgrid.net"/-->
  <add key="MailServer" value=""/>
  <add key="SMTPPort" value="587"/>
  <add key="MailEnabled" value="1"/>
</appSettings>