@using B2BPortal.Models
@model GuestRequest

@{
    ViewBag.Title = "SignUp";
}

<h2>Thanks for Signing Up</h2>

@if (Model.Disposition == Disposition.Pending)
{
    <div>Your request is being processed.Your request ID is "@Model.Id".</div>
}
else
{
    <div>
        <p>
            Your request has been @Model.Disposition.ToString().
            If approved, your invitation email has been sent to "@Model.EmailAddress". Follow the instructions in the email to redeem your invitation.
        </p>
        <p>
            Your request ID is "@Model.Id".
        </p>
    </div>
}